.wrapper {
    height: 50px;
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 26px;

}
.btn {
    border:none;
    padding: 3px 5px;
    border-radius: 6px;
    background-color: orange;
    cursor: pointer;
    color: white;
}
button {
    cursor: pointer;
    border: none;
    min-width: 90px;
    padding: 5px 5px;
    border-radius: 6px;
    box-shadow: 1px 1px #ccc;
}