.wrapper-home {
    width: 100wh;
    height: 200px;
    background-color: bisque;
    text-align: center;
    
}


.App-logo {
    top: 10px;
    position: relative;
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 3s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  