* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper-component {
    width: 100wh;
    height: 200px;
    background-color: bisque;
    text-align: center;
    line-height: 200px;
    border: 1px solid #ccc;
}