* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #fcaf17;
    --black: #000;
    --white: #fff;
    --text-color: #343a40;
    --red: #cc0000;
    --blue: #5886ff; //#1976d2 // #50b6fc //#5886ff
    --border-radius: 3px;
    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    // Default layout
    --default-layout-header-height: 70px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --width-sidebar: 220px;
    --background-sidebar: #ddd;
}


